<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
      .nav-item{
 font-size: 13px; 
 font-weight: bold;
 padding-top: 15px;
}
.bg_second {
        position: relative;
        z-index: 2 !important;
        bottom: 0px;
        width: auto;
        height: 600px;
        
    }

    .background_img {
        background-image: url(data:image/svg+xml;base64,PHN2ZyAgZmlsbD0icmdiYSgwLDAsMCwwLjA2KSIgaGVpZ2h0PSIxMXB4IiB3aWR0aD0iMTFweCIgdmlld0JveD0iMCAwIDExIDExIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xLjQxLDAsMCwxLjQxVjBaTTExLDBIOS41OUwwLDkuNTlWMTFIMS40MUwxMSwxLjQxWm0wLDkuNTlMOS41OSwxMUgxMVoiLz48L3N2Zz4=);
        background-position: 0 0;
        background-repeat: repeat;
        top: 200px;
        width: 80%;
        height: 360px;
        background-color: #FFFFFF;
        border-radius: 25px 25px 25px 25px;
        overflow: hidden;
        border-width: 0px;
        box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 30%);
        z-index: 3 !important;
        position: relative;
    }

    .btn_second {
        color: #FFFFFF !important;
        border-width: 0px !important;
        border-radius: 25px;
        font-size: 15px;
        font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif !important;
        background-image: radial-gradient(circle at left, #ff7e00 0%, #ffae00 100%);
        padding-top: 8px !important;
        padding-right: 42px !important;
        padding-bottom: 8px !important;
        padding-left: 42px !important;
        box-shadow: 0px 2px 12px 0px #e0401d;
    }
    .second_col{
        margin-top: -150px;
    }

    @media (min-width: 300px) and (max-width: 600px) {}
    </style>
</head>
<body>
    <div class="bg-dark p-3" style="height: 30px; ">
        <p class="ms-5 text-light" style="margin-top: -12px; font-weight: bold;">+91 99780-14559 |  info@nandoliafoods.com  </p>
    </div> 
    
    <!-- navbar start -->

   <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">HOME</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">ABOUTUS</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link active  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          OUR PRODUCTS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="chutney">CHUTNEY</a></li>
                          <li><a class="dropdown-item" href="sause">SAUCE</a></li>
                          <li><a class="dropdown-item" href="paste">PASTE</a></li>
                          <li><a class="dropdown-item" href="#">PICKLE</a></li>
                          <li><a class="dropdown-item" href="#">PULSES</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>    
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="text-align: center;">
            <img src="	https://nandoliafoods.com/wp-content/uploads/2022/11/Untitled-design.png" style="width: 150px; height: 150px;   " alt="">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">SOCIAL LINKS</a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="#">DEALERSHIP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">CONTACT US</a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </div>
   </div>
    <!-- navbar end -->
  <div>
    <img src="https://nandoliafoods.com/wp-content/uploads/2022/11/chutney.png" class="d-block w-100" style="height: 450px;" alt="...">
  </div>

 
  


  <div class="container-fluid">
    <div class="container background_img">
    <div class="row mx-5 my-5">
        <div class="col-md-6">
            <div class="">
                <div>
                    <p class="text-dark">Hurry Up</p>
                    <h1><strong>Become a Dealer</strong> </h1>
                    <p class="">Grab The Opportunity to Become a Dealer of Leading Brand in Food Industry.
                    </p>
                    <button type="button" class="btn_second mt-4">Inquiry Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-5 pt-3 ms-5">
                <img class="w-75 img-fluid"
                    src="https://nandoliafoods.com/wp-content/uploads/2022/10/frescia-logo.png" alt=""
                    srcset="">
            </div>
        </div>
    </div>
    
    </div>
    </div>
    
    <div class="container-fluid bg-dark bg_second" style="padding-top: 400px;">
    <div class="container">
    <div class="row">
    <div class="col-lg-4 col-sm-12 second_col">
        <img class="w-25"
            src="https://nandoliafoods.com/wp-content/uploads/2022/10/Profile-Image-removebg-preview.png"
            alt="" srcset="">
        <p class="text-white w-50">Nandolia is a group that started business in the chemical industry as
            Nandolia
            Organic Chemicals Pvt. Ltd. Since 1998, Nandolia has built and operated a group of ……</p>
    </div>
    <div class="col-lg-4 col-sm-12 second_col">
        <p class="text-warning"><strong>CALL</strong> </p>
        <p class="text-light">+91 88494 20240</p>
        <p class="text-warning">TRADE ENQUIRIES</p>
        <p class="text-light">sales@nandoliafoods.com</p>
        <p class="text-warning">GENERAL INQUIRIES</p>
        <p class="text-light">info@nandoliafoods.com</p>
        <p class="text-warning">FRESCIA BRAND ENQUIRIES</p>
        <p class="text-light">frescia@nandoliafoods.com</p>
    
    </div>
    <div class="col-lg-4 col-sm-12 second_col">
        <p class="text-warning"><strong>Location</strong> </p>
        <p class="text-light w-50">Survey No. 1233 And 1235,Nr. Sujanpura,
            Sedrana, Siddhapur,Patan,Gujarat-384151</p>  
    </div>
    </div>
    </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>