
    <style>
      .nav-item{
 font-size: 13px; 
 font-weight: bold;
 padding-top: 15px;
}
    </style>

    
    <div class="bg-dark p-3" style="height: 30px; ">
        <p class="ms-5 text-light" style="margin-top: -12px; font-weight: bold;">+91 99780-14559 |  info@nandoliafoods.com  </p>
    </div> 
    
    <!-- navbar start -->

   <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">HOME</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">ABOUTUS</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link active  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          OUR PRODUCTS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="/nandoliafoods/product/chutney">CHUTNEY</a></li>
                          <li><a class="dropdown-item" href="/nandoliafoods/product/sause">SAUCE</a></li>
                          <li><a class="dropdown-item" href="/nandoliafoods/product/paste">PASTE</a></li>
                          <li><a class="dropdown-item" href="#">PICKLE</a></li>
                          <li><a class="dropdown-item" href="#">PULSES</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>    
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="text-align: center;">
            <img src="	https://nandoliafoods.com/wp-content/uploads/2022/11/Untitled-design.png" style="width: 150px; height: 150px;   " alt="">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">SOCIAL LINKS</a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="#">DEALERSHIP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">CONTACT US</a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </div>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- navbar end -->
