<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

  <%- include('header') %>
    <!-- navbar end -->
    <div>
        <img src="https://nandoliafoods.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-05-at-5.01.45-PM.jpeg" class="d-block w-100" style="height: 450px;" alt="...">
    </div>
    
 <%- include('footer') %>

</body>
</html>